/* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    position: relative; /* Add position relative to enable absolute positioning of the icon */
}


.header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition effect */
}

.header nav ul li a:hover {
    color: #ff8c00; /* Change color on hover */
}
