/* FormSection.css */

form {
    max-width: 500px;
    margin: 20px auto; 
    padding: 50px;
    background-color: #eaebea69; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form input[type="number"],
form input[type="text"],
form select,
form input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    color: #161616;
    border: 1px solid #959595; 
    border-radius: 4px;
    box-sizing: border-box; 
}

form input[type="number"]:focus,
form input[type="text"]:focus,
form select:focus,
form input:focus {
    outline: none; 
}

form select[name="SEX"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    color: #767676;
    background-color: #ffffff;
    border: 1px solid #939292; 
    border-radius: 4px;
    box-sizing: border-box; 
}

form textarea {
    width: 100%; 
    padding: 15px; /* Increase padding to make the text area bigger */
    margin-bottom: 15px; 
    color: #161616;
    border: 1px solid #959595; 
    border-radius: 4px;
    box-sizing: border-box;
}

.submitContainer {
    align-items: center;
    padding-top: 15px;
}

form button {
    width: 100%; 
    padding: 10px;
    background-color: rgb(148, 150, 149); /* Button color */
    color: white; /* Text color */
    border: none;
    border-radius: 4px; 
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 20px; /* Larger font size */
}

form button:hover {
    background-color: rgb(130, 131, 130); /* Darker shade on hover */
}
